body{
    height: 100vh;
    
}

/* Grid Sizes Here */

.grid-container{
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100vh;
    width: 100vw;
}

.bottom-grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: black;
    color: white;
}

/* Top section of the grid. */

.welcome h1{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Bottom section of the grid.  */
/* Box One */

.title-one{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#box-one{
    height: 20pt;
    width: 50pt;
    background-color: coral;
}

/* Box two */

.title-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box-two{
    height: 20pt;
    width: 50pt;
    background-color: coral;
}

/* Box three */

.title-three{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box-three{
    height: 20pt;
    width: 50pt;
    background-color: coral;
}

/* Small and up (Landscape Phones) */
  @media (max-width: 576px) {
    .grid-container{
        grid-template-rows: 30% 70%;
        height: 100vh;
        width: 100vw;
        background-color: aqua;
    }

    .bottom-grid-container{
        grid-template-columns: 1fr;
        background-color: white;
        color: black;
    }
  }
